.*.orig*
.*.cache*
.*\..*log.*
.*.suo*
.*.lo*
.*.tlog*
.*.ilk*
.*.obj*
.*.pdb*
.*.manifest*
.*.lastbuildstate*
.*.aps*
.*.sdf*
.*.opensdf*
.*.idb*
.*.exp*
.*.cache*
.*.vspx*
.*/temp/
.*/documentation/html/
.*unsuccessfulbuild*
.*/GeneratedFiles/
.*ipch/.*
.*/Library/
*.csproj
Build
Temp
*.sln.docstates
*.csproj
*.unityproj
*.pidb
*.userprefs
*.DS_Store
Thumbs.db
*-csharp.sln.*/
*-csharp.sln
prototypes.sln
